<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.dto.CartDao">

    <delete id="deleteCartContent" parameterType="int">
        delete from Cart where contentId = #{contentId}
    </delete>

    <select id="selectOneContent" resultType="Integer">
        select ifnull(cnt,0) from Cart where userId = #{username} and contentId = #{contentId}
    </select>
    
    <insert id="insertCartContent">
        insert into Cart values(#{username}, #{contentId}, #{cnt})
    </insert>
    
    <update id="updateCartContent">
        update Cart set cnt = cnt + #{cnt} where userId = #{username} and contentId = #{contentId}
    </update>

    <select id="getCartList" resultMap="CartListMap">
        select A.contentId, cnt, title, price from Cart A left join Content B on A.contentId = B.id where A.userId = #{username}
    </select>

    <resultMap id="CartListMap" type="com.netease.model.Cart">
        <result column="contentId" property="contentId"/>
        <result column="cnt" property="cnt"/>
        <association property="content" javaType="com.netease.model.Content">
            <result property="title" column="title"/>
            <result property="price" column="price"/>
        </association>
    </resultMap>
    
    <delete id="deleteCart">
        delete from Cart where userId = #{username} and contentId = #{contentId}
    </delete>
    
</mapper>